@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>Add a new Client</h3>

@using (Html.BeginForm())
{
    <form class="form-horizontal">
      <fieldset>
        <div class="col-lg-2 control-label">
          @Html.LabelFor(model => model.Name)
        </div>
        <div class="col-lg-10">
          @Html.TextBoxFor(model => model.Name)
        </div>

        <div class="col-lg-2 control-label">
          @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="col-lg-10">
          @Html.TextBoxFor(model => model.PhoneNumber)
        </div>

        <div class="col-lg-2 control-label">
          @Html.LabelFor(model => model.EmailAddress)
        </div>
        <div class="col-lg-10">
          @Html.TextBoxFor(model => model.EmailAddress)
        </div>

        <div class="col-lg-2 control-label">
          @Html.LabelFor(model => model.ClientNotes)
        </div>
        <div class="col-lg-10">
          @Html.TextBoxFor(model => model.ClientNotes)
        </div>
      
        <div class="col-lg-2 control-label">
        @Html.LabelFor(model => model.Stylist)
        </div>
        <div class="col-lg-10">
          @Html.DropDownList("StylistId")
        </div>
        
        <br>
        <input type="submit" value="Add new client" class="btn btn-default" />
      </fieldset>
    </form>
}
<br> 
<button>@Html.ActionLink("Back to Stylists", "Index")</button>